.App {
  text-align: center;
}
.carousel-item{
  height: 300px;
  width: 100%;
}
.card{
  width: auto;
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
